<article class="post">
    <!-- Post thumbnail with lazayload support -->
    <div class="post-thumbnail" style="background-image: url('<%= page.thumbnail %>');"></div>

    <!-- Post title and content -->
    <div class="post-meta">
        <div class="post-time">
            <%- date(page.date, "MMM, D YYYY" ) %>
        </div>
    </div>
    <h1 class="post-title"><%= page.title %></h1>
    <div class="post-content"><%- page.content %></div>
</article>