pre {
    background-color: none!important;
    padding: 0%!important;
}

#mourn {
    filter: grayscale(1) !important;
    -webkit-filter: grayscale(1) !important;
}

@media(prefers-color-scheme:dark) {
    * {
        transition: backgourd-color .5s
    }
    .card {
        box-shadow: none!important;
        background-color: #121212!important
    }
    img:not([src*=".svg"]) {
        filter: brightness(.7) contrast(1.2);
    }
}

@media screen and (max-width:1023px) {
    .navbar-menu {
        box-shadow: 0 8px 16px -8px rgb(10 10 10 / 10%)!important
    }
    .post-content {
        padding-top: 0!important
    }
    .post-card {
        margin: 0 0 0 0!important
    }
}

.post-podcast-player {
    padding-bottom: 1.5rem
}

.post-card {
    margin: 0 1rem 0rem 1rem
}

.navbar-brand .navbar-item:hover {
    background-color: inherit!important
}

.entry {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
    transition: box-shadow .1s
}

.entry:hover {
    box-shadow: 0 1em 2em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%)
}

.pagination-bar {
    padding-left: .25rem;
    padding-right: .25rem
}

.footer {
    padding: 1rem 1rem 1rem!important;
    background-color: transparent!important
}

.subnav-top {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    display: inline;
}

.subnav-bottom {
    margin-top: 1.5rem !important;
}