pre {
    background-color: none !important;
}

@media (prefers-color-scheme: dark) {
    * {
        transition: backgourd-color 0.5s;
    }
    .card {
        box-shadow: none !important;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        box-shadow: 0 8px 16px -8px rgb(10 10 10 / 10%) !important;
    }
}

.navbar-brand .navbar-item:hover {
    background-color: inherit !important;
}

.post-entry {
    margin-bottom: 3rem !important;
}

.pagination-bar {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.footer {
    padding: 1rem 1rem 1rem;
    background-color: transparent;
}