<footer class="footer">
    <div class="footer-copyright">
        Copyright © <%= date(Date.now(), 'YYYY') %> <a href="<%= url_for('/') %>"><%= config.title %></a>
    </div>
    <div class="footer-power">
        <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> | Theme - <a href="https://github.com/guiqiqi/Chromate"
                target="_blank">Chromate</a></p>
    </div>
</footer>