<footer class="footer">
    <div class="content has-text-centered has-text-grey">
        <div class="footer-copyright">
            Copyright © <%= date(Date.now(), 'YYYY' ) %> <%= config.title %> <%= theme.copyright %>
        </div>
        <div class="footer-power">
            <p>Powered by <a href="https://hexo.io" rel="noopener noreferrer" target="_blank">Hexo</a> 
            <i class="fa fa-heart has-text-danger"></i>
            Theme <a href="https://github.com/guiqiqi/chromate" rel="noopener noreferrer" target="_blank">Chromate</a>
        </div>
    </div>
</footer>