<head>
    <title><%= config.title %></title>
    <% if (config.favicon) favicon_tag(config.favicon) %>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Making Tim Cook Happy -->
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Making Robots Happy -->
    <% if (config.keywords) { %>
        <meta name="keywords" content="<%= config.keywords %>">
    <% } %>
    <% if (config.description) { %>
        <meta name="description" content="<%= config.description %>">
    <% } %>

    <!-- Scripts and styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-prefers-dark@0.1.0-beta.0/css/bulma-prefers-dark.min.css" />
    <%- css("css/style.min.css") %>
</head>